body {
    margin-top: 15px
}

hr {
    margin-top: 40px;
}

.chart-area {
    margin-left: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar.contributor {
    fill: #6d7f8f;
}

.bar.contributor:hover {
    fill: #00ce89;
}

.x.axis.contributor path {
    display: none;
}

.contributor-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.contributor-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.contributor-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar.category {
    fill: #a4c046;
}

.bar.category:hover {
    fill: #00ce89;
}

.x.axis.category path {
    display: none;
}

.category-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.category-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.category-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
