.bootstrap-tagsinput {
    width: 100%;
    line-height: 30px;
}

.bootstrap-tagsinput > .tag {
    font-size: 15px;
    line-height: 30px;
}

body {
    background-color: #D9DADA;
    margin-top: 20px
}

.container {}

.image-container {}

.image-container img {
    max-height: 400px;
    min-height: 300px;
}

.alert {
    text-align: center;
    position: fixed;
    top: 50%;
    z-index: 100000;
    width: 100%;
    display: none;
}

.language-select {
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    /*display: none;*/
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.waiting {
    position: fixed;
    text-align: center;
    z-index: 3;
    width: 100%;
    top: 40%;
}